{% extends 'base.html' %} <!--Inherits from base.html-->
{% load static %} <!--This enables the static tag-->

<!--All that is needed, is to modify the empty blocks and title block-->

{% block title %}
  Project Page
{% endblock title %}
{% block extrahead %}
  <link rel="stylesheet" href="{% static 'css/project.css' %}" />
{% endblock %}

{% block content %}
<p>This is the project page.</p>
{% endblock content %}

{% block extra_js %}
  <script src="{% static 'js/project.js' %}"></script>
{% endblock %}